/Users/jjun/Desktop/projects/study/today_algorithm/myCode/src/boj/greedy/mySolution/회의실배정_1931.java
### IntelliJ IDEA ###
.idea
.gitignore
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.gradle
application.properties
build/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 기타 ###
*.db
*.svg
